#=======================#
#       Dev Cache       #
#=======================#
**/migrations
**/.venv
**/*.egg-info
**/build 
**/__pycache__
temp**
tmp**
**bak
**/.vscode

#=======================#
#      Data files       #
#=======================#
data/
backend/

#=======================#
#       Logs file       #
#=======================#
logs

#=======================#
#       Env file       #
#=======================#
.env

#=======================#
#     Docker images     #
#=======================#
images

